name: Lint

permissions:
  contents: read
  
on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Open ssh debug session.'
        required: true
        default: false
        type: boolean

jobs:

  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # run static analysis on bleeding and trailing edges
        python-version: [ '3.9', '3.14' ]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Set up Python ${{ matrix.python-version }}
        id: sp
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        with:
          enable-cache: true
      - name: Install Just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff
      - name: Install Dependencies
        env:
          PYTHON_PATH: ${{ steps.sp.outputs.python-path }}
        run: |
          just setup "$PYTHON_PATH"
          just install-docs
      - name: Install Emacs
        if: ${{ github.event.inputs.debug == 'true' }}
        run: |
          sudo apt install emacs
      - name: Setup tmate session
        if: ${{ github.event.inputs.debug == 'true' }}
        uses: mxschmitt/action-tmate@10570f95320d0abb91b1d0d58a29dc445523eeb2
        with:
          detached: true
        timeout-minutes: 60
      - name: Run Static Analysis
        run: |
          just check-lint
          just check-format
          just check-types
          just check-package
          just check-readme
